    <header>
        <nav class="navbar navbar-dark">
          <span class="navbar-text white-text">
          	<b>Chatbot</b> 智能对话机器人
          </span>

	  <ul class="nav navbar-nav nav-flex-icons ml-auto">
			<li class="nav-item px-3">
	    	<%= link_to developlog_path, class: "nav-link waves-effect waves-light" do %>
	    		<i class="fa fa-address-card"></i> <span class="clearfix d-none d-sm-inline-block">使用说明</span>
	    	<% end %>
		<!--	</li>
			<li class="nav-item px-3">
	    	<%= link_to root_path, class: "nav-link waves-effect waves-light" do %>
	    		<i class="fa fa-sign-in"></i> <span class="clearfix d-none d-sm-inline-block">登录</span>
	    	<% end %>
			</li>
			<li class="nav-item px-3">
	    	<%= link_to new_user_path, class: "nav-link waves-effect waves-light" do %>
	    		<i class="fa fa-pencil"></i> <span class="clearfix d-none d-sm-inline-block">注册</span>
	    	<% end %> -->
			</li>
	  </ul>
        </nav>
    </header>
