<body class="light-blue-skin" aria-busy="true">
  <%= render 'homes/header' %>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
              <div class=" yellow darken-3 white-text waves-effect waves-light" style="background-image: linear-gradient(90deg, #8B814C, #CDBE70 50%, #EEDC82);"> 
                <h4 style="color: white; font-size: 16px; font-family: cursive; font-style: italic; letter-spacing: 6px; text-align: center;"> 生活不止眼前的苟且，还有诗和远方的田野</h4>
              </div>
              <%= render 'homes/login' %>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer' %>
</body>
