# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\rubyfiles\chatbot2\chatbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
